.embla {
  overflow: hidden;
  height: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  align-items: center;
}

.embla__slide {
  flex: 0 0 auto;
  margin-right: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
